*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
  background-color: rgb(75, 97, 112);
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
}
.nav-list{
 display: flex;
 width: 100%;
 list-style: none;
 justify-content: center;
 align-items: center;


}
.nav-list li{
  margin: 50px; 
}
.nav-list li a{
 text-decoration: none;
 font-size: 20px;
 color: rgb(239, 134, 134);
}
.nav-list li :hover{
 background-color: rgb(176, 40, 96);
  /* background-color: rgb(114, 212, 200); */
} 
.home-container{
  display:flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(182, 209, 209);
  min-height: 700px;
  flex-wrap: wrap;
}
.left-text {
  font-family:  'Oswald', sans-serif;
  color:rgb(152, 5, 140);
  font-style: italic;
   margin-top: 80px;

}
.left-texth1{
margin-left: 100px;
 
}

h2{
 
  color: rgb(152, 5, 140);
  font-size: 35px;
  margin-left: 80px;
}
.but-ton1{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  border: 2px solid rgb(152, 5, 140);
  font-weight: 800;
  color:rgb(152, 5, 140) ;
  margin-top: 20px;
  margin-left: 120px;
}


span {
  font-style:italic;
  color: rgb(98, 5, 98);
  font-size: 60px;
  cursor:  pointer;
}
span:hover{
  color: rgb(177, 67, 93);
}
.right{
  padding:100px;
 }

.home-image{
  width: 700px;
  height: 500px; 
  padding-top: 80px;
  margin-right: auto;
  border-radius: 1%;
  /* justify-content: center; */

}
.about-container{
   display: flex;
   flex-direction: row;
   /* justify-content: space-between; */
   height: 700px;
   background-color: rgb(207, 235, 246);
  
}

.about-image{
  justify-content: left;
   width: 600px;
   height: auto;
   padding: 60px 80px;
   border-radius: 50%;
  
}
.am{
  background-color: rgb(207, 235, 246);
  font-size: 40px; 
  font-weight: 800;
  padding-top: 150px;
  text-align: center; 
}
p{
  font-size:25px ;
  padding: 10px;
}



.skill-container{
  display: grid;
  height: 1000px;
  background-color: rgb(229, 243, 248);
  grid-template-columns: repeat(3, 1fr);
  }

  .skill-text{
    background-color: rgb(229, 243, 248);
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
  }
  .card{ 
   border: 1px solid black;
   width: 300px;
   height: 300px;
   /* margin: 10px; */
   margin-left: 40px;
   padding-top:60px;
   margin-top: 50px;
   border: 1px solid black;  
   border-radius: 8px;
   box-shadow: 10px 5px 5px black;  
}  

.card-image{
   width: 280px;
   height: 230px;
    padding: 20px;
    margin-top: -30px;
}
.card:hover {
  background-color: rgb(166, 143, 162);
  transition: 0.4s ease-in-out;
  transform: scale(1.2);
}
.card-text{
    display: block;
    padding-left: 20px;
    font-size:25px;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

} 
.contact-container{
  display: grid;
  min-height: 700px;
  background-color:   rgb(230, 233, 234);
}
.contact-title{
  margin: 30px;

}
.contact-title h2{
  text-align: center;
  color: black;
  font-size: 40px;
}
 .contact-form{
   height: 400px;
   width: 380px;
   margin: 0 auto;
   background-color: rgb(196, 154, 199);
   padding: 10px;
   border-radius: 10px;
   text-shadow: 1px 1px black;
 }
 .submit-btn{
  cursor: pointer;
   height: 40px;
   width: 70px;
   border: 1px solid black;
   border-radius: 10px;
 
 }
 .icon-list{
  text-align: center;
  padding: 10px;
  font-size: 30px;
 }
 .icon-list ul{
  list-style: none;
 }
 .icon-list li{
  display: inline;
  margin: 10px;
 }
 a{
 cursor: pointer;
 }
 .fa-brands, .fa-solid{
  color: rgb(229, 100, 100);
 }
 .fa-facebook:hover {
  color: blue;
  transform: scale(1.3);
}
.fa-linkedin:hover{
  color: rgb(74, 74, 236);
  transform: scale(1.3);
}
.fa-github:hover{
  color:orange;
  transform: scale(1.3);
}

.fa-phone:hover{
  color:lightgreen;
  transform: scale(1.3);
}

@media  screen and  (max-width:600px){
  .navbar{
    width: 100%;
    height:auto;
    flex-direction: column;
   justify-content: center;
   align-items: center;

}
.nav-list{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
   
}
.nav-list li{
    margin: 10px;
   align-items: center;
    /* margin-left: 10px; */
    /* margin-right: 250px; */
}
.nav-list li a{
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    /* margin-right: 250px  */
}
.home-container{
  flex-direction: column;
  width: 900px;
  height: auto;
}
.left-text{
  margin-top: 150px;
  margin-right: 50px;
  justify-content: center;
  text-align: center;
}
.left-texth1{
  margin-top: 20px;
}

.about-image{
  width:400px;
  height: auto;
  justify-content: center;
  align-items: center;
  /* margin-left:100px; */
  /* padding: 20px; */
}
.about-container{
  width: 900px;
  flex-direction: column;
}
.skill-container{
  width: 900px;
  height: auto;
  grid-template-columns: repeat(1 , 1fr);
 padding-left: 50px;
}
.skill-text{
  width: 900px;
  font-size: 20px;
  justify-content: center;
}
.card{
  /* border: 1px solid black; */
   width: 200px;
   height: auto;
   justify-content: center;
   align-items: center;
   margin: 10px;
   margin-left: 20px;
   padding-top:30px;
   margin-top: 20px;
 
}
.card-text{
  justify-content: center;
  padding-left: 10px;
  font-size: 10px;
 margin-bottom: 10px ;
}
.card-image{
      width: 180px;
      height: 130px;
      padding: 10px;
      margin-top: -10px;
}
.contact-container{
  width:100% ;
  height: auto;
}
.contact-title h2{
  font-size: 20px;
}

}

    
 

   


   






